<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= blog.blogtitle %></title>
</head>
<body>
  <div class="blog">
    <h3><%= blog.blogtitle %></h3>
    <h5><%= blog.blogdescription %></h5>
    <p>Written by: <%= blog.authorname %></p>
    <p><%= blog.blogcontent %></p>
  </div>
</body>
</html>
